
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/css/output.css" rel="stylesheet">
    <title>Tan Hackppli</title>
</head>
<body>
    <form method="POST" class="w-full max-w-sm">
        <div class="flex items-center border-b border-teal-500 py-2">
            <textarea name="textarea" class="appearance-none bg-transparent border-none w-full text-gray-700 mr-3 py-1 px-2 leading-tight focus:outline-none"></textarea>
            <input type="submit" value="Chercher une ligne" class="flex-shrink-0 bg-teal-500 hover:bg-teal-700 border-teal-500 hover:border-teal-700 text-sm border-4 text-white py-1 px-2 rounded">
        </div>
    </form>
    <div>
        <h1>Arrêts :</h1>
        <ol class="space-y-1 text-gray-500 list-disc list-inside dark:text-gray-400">
        {% for arret in arrets %}
            <li>{{ arret }}</li>
        {% endfor %}
        </ol>
    </div>
</body>
</html>